<html>
	<head>
		<% include head %>
	</head>
<body>
	<% include navigationBar %>
	<div style="padding-left:15px">
		<h2>Team 5</h2>
		<div class="panel panel-primary" style="width:70%">
		  <div class="panel-heading">
			<h3 class="panel-title">This is our CMPE 272 (Software Systems Engineering) project under Prof. Rakesh Ranjan</h3>
		  </div>
		  <div class="panel-body">
			Amit Borude (amit.borude@sjsu.edu) <br/>
			Amol Pujari (amol.pujari@sjsu.edu) <br/>
			Jayesh Pandhe (jayesh.pandhe@sjsu.edu) <br/>
			Mahesh Bingi (mahesh.bingi@sjsu.edu) <br/>
			Prasad Bidwai (prasad.bidwai@sjsu.edu) <br/>
		  </div>
		</div>
	</div>
	
</body>
</html>
