<html>
	<head>
		<% include head %>
	</head>
<body>
	<% include navigationBar %>
	
	<div style="padding-left:15px">
		<h2>Team 5</h2>
		<h4>This is our CMPE 272 (Software Systems Engineering) project under Prof. Ranjan</h4>
		<ul style="color:white">
			<li>Amit Borude</li>
			<li>Amol Pujari</li>
			<li>Jayesh Pandhe</li>
			<li>Mahesh Bingi</li>
			<li>Prasad Bidwai</li>
		</ul>
	</div>
</body>
</html>