<div align="center" style="position:absolute;top:79px; float:right">
	<div class="label label-default" style="font-size:15px;z-index:99;">
		Total count of animals as per their conservation status in the below selected country.
	</div>
</div>

<div align="center">
	<div style="width:70%;" align="left" >
		<% 	if(data.dataCategory == 'country'){%>
			<select id="countrySelect" class="form-control" style="width:400px" onchange="countrySelected(this)">
				<option value="0"> Select a Country..</option>
				<% for(var i=0; i < data.res.length; i++) { %>
					<option value="<%=data.res[i].id%>"><%=data.res[i].name%></option>
				<% } %>
			</select>
		<% }%>
	</div>

	<div>
		<% if(data.dataCategory == "country"){ %>
			<div id="chartTypeOptionDiv" class="optionDiv" style="display:none">
				<input type="radio" value="column" id="column"  name="conservationStatusChart" onclick="updateChart(this)"/> 
					<label style="vertical-align:top;padding-right:10px;"> Column Chart</label>
				<input type="radio" value="donut" id="donut" name="conservationStatusChart" onclick="updateChart(this)" /> 
					<label style="vertical-align:top;padding-right:10px;"> Donut Chart </label>
				<input type="radio" value="pie" id="pie" name="conservationStatusChart" onclick="updateChart(this)"/> 
					<label style="vertical-align:top;padding-right:10px;"> Pie Chart</label>
			</div>
		<% }else{ %>
			<div id="animalTypeOptionDiv" class="optionDiv">
				<input type="radio" value="extinct" name="conservationStatus" onchange="updateChart(this)"/> 
					<label style="vertical-align:top"> Extinct</label>
				<input type="radio" value="critically_endangered" name="conservationStatus" onchange="updateChart(this)"/> 
					<label style="vertical-align:top"> Critically Endangered</label>
				<input type="radio" value="endangered" name="conservationStatus" onchange="updateChart(this)"/> 
					<label style="vertical-align:top"> Endangered</label>
				<input type="radio" value="vulnerable" name="conservationStatus" onchange="updateChart(this)"/> 
					<label style="vertical-align:top"> Vulnerable</label>
				<input type="radio" value="near_threatened" name="conservationStatus" onchange="updateChart(this)"/> 
					<label style="vertical-align:top"> Near Threatened</label>
			</div>
		<% } %>
	</div>
		
	<div id="container" style="border:1px solid #EEEEEE; width:100%;height:78%; margin-top:5px;">
		<div id="purpose" class="chartLabel">
			Threatened species in each country
		</div>
		<div id="charts" style="width:100%;height:100%">
			<div class="blankMessage" style="font-size: 32px;">
				<% if(data.dataCategory == "country"){ %>
					Please select country for generating different charts
				<% }else{ %>
					World map will appear here as you select category you are interested in
				<% } %>
			</div>
		</div>	
	</div>	
		
</div>