<div class="jumbotron" align="left" id="jumbo" style="padding-left:15px;">
  <p>
	<%if(data.dataCategory == 'country'){%>
	 <h3 id="header">Step 1: Select a country for which you want to get statistical data : </h3>	
		<div id="inputControl" style="width:100%;z-index:99">
			<div class="input-group" id="countryTxt">
				<span class="input-group-addon">Country</span>
				<select id="countrySelect" class="form-control" style="width:400px" onchange="countrySelected(this)">
					<option value="0"> Select a Country..</option>
					<% for(var i=0; i < data.res.length; i++) { %>
						<option value="<%=data.res[i].id%>"><%=data.res[i].name%></option>
					<% } %>
				</select>
			</div>
			<div id="chartTypeOptionDiv" class="optionDiv" style="display:none;">
				<h3 id="header2">Step 2: Select type of Graphical presentation.</h3>
				<input type="radio" value="column" id="column" name="conservationStatusChart" onclick="updateChart(this)" id="column"/> <label for="column" style="vertical-align:top;padding-right:10px;"> Column Chart</label>
				<input type="radio" value="donut" id="donut" name="conservationStatusChart" onclick="updateChart(this)" id="donut"/> <label for="donut" style="vertical-align:top;padding-right:10px;"> Donut Chart </label>
				<input type="radio" value="pie" id="pie" name="conservationStatusChart" onclick="updateChart(this)" id="pie"/> <label for="pie" style="vertical-align:top;padding-right:10px;"> Pie Chart</label>
			</div>
		</div>
	<% }%>
	<% if(data.dataCategory != "country"){ %>
			<h3 id="header">Select a conservation status for which you want to see the data :</h3>	
			<div id="animalTypeOptionDiv" class="optionDiv">
				<input type="radio" value="extinct" name="conservationStatus" onchange="updateChart(this)" id="extinct"/> 
					<label style="vertical-align:top" for="extinct"> Extinct</label>
				<input type="radio" value="critically_endangered" name="conservationStatus" onchange="updateChart(this)" id="ce"/> 
					<label style="vertical-align:top" for="ce"> Critically Endangered</label>
				<input type="radio" value="endangered" name="conservationStatus" onchange="updateChart(this)" id="en"/> 
					<label style="vertical-align:top" for="en"> Endangered</label>
				<input type="radio" value="vulnerable" name="conservationStatus" onchange="updateChart(this)" id="vul"/> 
					<label style="vertical-align:top" for="vul"> Vulnerable</label>
				<input type="radio" value="near_threatened" name="conservationStatus" onchange="updateChart(this)" id="nt"/> 
					<label style="vertical-align:top" for="nt"> Near Threatened</label>
			</div>
		<% } %>
  </p>
</div>  

<div id="container" style="border:0px solid #EEEEEE;display:none; margin-top:0px;" align="center">
	<div id="purpose" class="label label-info" style="font-size:15px;z-index:99;display:none" align="center">
		Country-wise count of threatened animals as per their conservations status.
	</div>
	<div id="charts" style="width:100%;height:75%;margin-top:5px;">
		<img src="images/loading.gif" style="height:200px;width:200px"/>
	</div>	
</div>	




