<title><%=title%></title>
<link href="./stylesheets/style.css" rel="stylesheet" />
<link href="./stylesheets/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="./stylesheets/bootstrap/dashboard.css" rel="stylesheet" />
<link href="./stylesheets/jquery/jquery-ui.css" rel="stylesheet" />
<script src="./javascript/jquery/jquery-1.11.0.min.js"></script>
<script src="./javascript/jquery/jquery-ui.js"></script>
<script src="./javascript/bootstrap/bootstrap.min.js"></script>
<script src="./javascript/gCharts.js"></script>  
<script src="./javascript/common.js"></script>
