<% layout('statistics') -%>

<div style="width:20%;height:80%;float:left">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
		Cras justo odio
	  </a>
	  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
	  <a href="#" class="list-group-item">Morbi leo risus</a>
	  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
	  <a href="#" class="list-group-item">Vestibulum at eros</a>
	</div>
</div>
<div style="border:1px solid #EEEEEE;border-radius:5px;width:58%;height:80%;margin-left:10px;float:left">
	<div style="">
		Sufficient Data Not Available
	</div>
</div>
<div style="width:20%;float:right">
	<div class="list-group">
	  <a href="#" class="list-group-item active">World Map</a>
	  <a href="#" class="list-group-item">Pie Chart</a>
	</div>
</div>
