<html>
	<head>
		<% include head %>
		<link href="./stylesheets/least.min.css" rel="stylesheet" />
		 <script src="./javascript/least.min.js"></script>
	</head>
<body onload="initInfographics()">
	<% include navigationBar %>
	<br/>
	 <!-- Least Gallery -->
        <section id="least">
            
            <!-- Least Gallery: Fullscreen Preview -->
            <div class="least-preview"></div>
            
            <!-- Least Gallery: Thumbnails -->
            <ul class="least-gallery">
                <!-- 1 -->
                <li>
                    <a href="./images/infographics/endangeredSpecies.png" title="WorldWideView"  >
                        <img src="./images/infographics/endangeredSpecies.png" alt="Alt Image Text" width="240" height="150" />
                        
                        </a>
                </li>
               
                <!-- 2 -->
                <li>
                    <a href="./images/infographics/indiaTIgerNation.jpg" title="indian Tiger">
                        <img src="./images/infographics/indiaTigerNation.jpg" alt="Alt Image Text" width="240" height="150" />
                    </a>
                </li>
                
                <!-- 3 -->
                <li>
                    <a href="./images/infographics/top10Endangered.jpg" title="Top 10 critical">
                        <img src="./images/infographics/top10Endangered.jpg" width="240" height="150" />
                    </a>
                </li>

                <!-- 4 -->
                <li>
                    <a href="./images/infographics/en1.png" title="Endangered">
                        <img src="./images/infographics/en1.png" width="240" height="150" />
                    </a>
                </li>

                <!-- 5 -->
                <li>
                    <a href="./images/infographics/t1.jpg" title="Tiger Worldmap">
                        <img src="./images/infographics/t1.jpg" width="240" height="150" />
                    </a>
                </li>

                <!-- 6 -->
                <li>
                   <a href="./images/infographics/Seafood.jpg" title="Seafood">
                        <img src="./images/infographics/Seafood.jpg" width="240" height="150" />
                    </a>
                </li>

                <!-- 7 -->
                <li>
                    <a href="./images/infographics/acts.png" title="Acts">
                        <img src="./images/infographics/acts.png" width="240" height="150" />
                    </a>
                </li>

                <!-- 8 -->
                <li>
                    <a href="./images/infographics/view.jpg" title="Last few left">
                        <img src="./images/infographics/view.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 9 -->
                <li>
                    <a href="./images/infographics/Last.jpg" title="last few">
                        <img src="./images/infographics/Last.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 10 -->
                <li>
                    <a href="./images/infographics/sharks.jpg" title="Sharks ">
                        <img src="./images/infographics/sharks.jpg" alt="Alt Image Text" />
                    </a>
                </li>
            <!-- 11 -->
           
            <li>
                    <a href="./images/infographics/mass extinction.jpg" title="mass extinction ">
                        <img src="./images/infographics/mass extinction.jpg" alt="Alt Image Text" />
                    </a>
                </li>
           <!-- 12 -->
            
            <li>
                    <a href="./images/infographics/fish.jpg" title="fish ">
                        <img src="./images/infographics/fish.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                
                <!-- 13 -->
                
                <li>
                    <a href="./images/infographics/rhino.jpg" title="Rhino">
                        <img src="./images/infographics/rhino.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                
                <!-- 14 -->
                
                <li>
                    <a href="./images/infographics/map.jpg" title="Overview ">
                        <img src="./images/infographics/map.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                
                <!-- 15 -->
                
                <li>
                    <a href="./images/infographics/turtle.jpg" title="Turtle ">
                        <img src="./images/infographics/turtle.jpg" alt="Alt Image Text" />
                    </a>
                </li>
            
            </ul>

        </section>
       
</body>
</html>