<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../"><span class="glyphicon glyphicon-leaf"></span>
          Animal Population Dynamics</a>
         
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
        <!-- 
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="download" href="#" data-toggle="dropdown" class="dropdown-toggle">Download <span class="caret"></span></a>
              <ul aria-labelledby="download" class="dropdown-menu">
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
              </ul>
            </li>
          </ul>
		-->
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="/solutions"><span class="glyphicon glyphicon-thumbs-up" style="margin-right:5px;"></span>Solutions</a></li>
           	<li><a href="/infographics"><span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>Some Infographics</a></li>
           	<li><a href="/browse"><span class=" glyphicon glyphicon-th-large"></span>
           		Browse</a></li>
            <li><a href="/stats"><span class="glyphicon glyphicon-stats"></span>
            	Statistics</a></li>
          </ul>

        </div>
      </div>
    </div>