<div align="center">
	<div class="btn-group">
		<div style="float:left">
			<select id="countrySelect" class="form-control" onchange="countrySelected(this)">
				<option value="0"> Select a Country..</option>
				<% for(var i=0; i < data.length; i++) { %>
					<option value="<%=data[i].id%>"><%=data[i].name%></option>
				<% } %>
			</select>
		</div> 
		<div style="float:left">
			<label style="padding-left:15px;padding-right:15px">OR</label>
			<button type="button" class="btn btn-primary" style="width:400px;" id="worldMapBtn" onclick="selectWorldMap()">World Map</button>
		</div>
	</div>
	
	
	<div class="btn-group" style="display:none;">
	  	<button type="button" class="btn btn-primary">Animal Type</button>
		<button type="button" class="btn btn-primary">Chart Type</button>
	</div>
	
	<div>
		<div id="animalTypeOptionDiv" class="optionDiv">
			<input type="radio" value="mammals" name="animalType" onchange="updateChart(this)"/> <label style="vertical-align:top"> Mammal</label>
			<input type="radio" value="birds" name="animalType" onchange="updateChart(this)"/> <label style="vertical-align:top"> Bird</label>
			<input type="radio" value="fishes" name="animalType" onchange="updateChart(this)"/> <label style="vertical-align:top"> Fishes</label>
			<input type="radio" value="reptiles" name="animalType" onchange="updateChart(this)"/> <label style="vertical-align:top"> Reptiles</label>
			<input type="radio" value="amphibians" name="animalType" onchange="updateChart(this)"/> <label style="vertical-align:top"> Amphibian</label>
		</div>
		<div id="chartTypeOptionDiv" class="optionDiv">
			<input type="radio" value="donut" name="chart" onclick="updateChart(this)" /> <label style="vertical-align:top;padding-right:10px;"> Donut Chart </label>
			<input type="radio" value="pie" name="chart" onclick="updateChart(this)"/> <label style="vertical-align:top;padding-right:10px;"> Pie Chart</label>
			<input type="radio" value="column" name="chart" onclick="updateChart(this)"/> <label style="vertical-align:top;padding-right:10px;"> Bar Chart</label>
			
		</div>
	</div>
		
	<div id="container" style="border:1px solid #EEEEEE; width:100%;height:78%; margin-top:5px;">
		<div id="purpose" class="chartLabel">
			Threatened species in each country
		</div>
		<div id="charts" style="width:100%;height:100%">
		
		</div>	
	</div>	
		
</div>