<html>
	<head>
		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
		<% include head %>
		<script>
			initCharts();
		</script>
	</head>
<body onload="initCharts()">
	<% include navigationBar %>
	
<div class="row" style="padding-left:15px;padding-right:15px;margin-top:10px;" id="selectCategoryDiv" width="100%">
		<div align="center">
			<h2 style="margin-bottom:40px;">Categories</h2>
		</div>
        <div class="col-lg-4" align="center">
          <img data-src="holder.js/200x200" class="img-rounded" style="width: 300px; height: 200px; margin-bottom:50px;" src="/images/Lion2.jpg">
          <h3>Animal Class</h3>
          <p style="color:white">Shows information about animal kingdom (mammals, birds, reptiles etc) population with respect to country.</p>
			<p>
				<div style="margin-top:10px;">
			    	<button type="button" class="btn btn-primary btn-sm" style="width:160px; " onclick="selectAnalysisCategory('country','country')">
			    		<span class="glyphicon glyphicon-map-marker" style="margin-right:5px;"></span>Individual Country</button>
			    	<button type="button" class="btn btn-primary btn-sm" style="width:160px;" onclick="selectAnalysisCategory('country','world')">
			    		<span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>World Wide</button>
			    </div>
			</p>
        </div>
        <div class="col-lg-4" align="center">
          <img data-src="holder.js/140x140" class="img-rounded" style="width: 300px; height: 200px; margin-bottom:50px;" src="images/wordle.png">
          <h3>Conservation Status</h3>
          <p style="color:white">Shows information about conservation status(extinct, critically endangered etc) with respect to country.</p>
		  <p>
			<div style="margin-top:10px;">
				<button type="button" class="btn btn-primary btn-sm" style="width:160px;" onclick="selectAnalysisCategory('conservationStatus','country')">
					<span class="glyphicon glyphicon-map-marker" style="margin-right:5px;"></span>Individual Country</button>
				<button type="button" class="btn btn-primary btn-sm" style="width:160px;" onclick="selectAnalysisCategory('conservationStatus','world')">
					<span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>World Wide</button>
			</div>
		  </p>
        </div>
        <div class="col-lg-4" align="center">
          <img alt="140x140" data-src="holder.js/140x140" class="img-rounded" style="width: 300px; height: 200px;margin-bottom:50px;" src="images/time.jpg">
          <h3>Time series data</h3>
          <p style="color:white">Data collected over the time period for kingdom Animalia classes (mammals, birds, reptiles etc.)</p>
          <p ><button type="button" class="btn btn-primary btn-sm" style="width:160px;" onclick="selectAnalysisCategory('time','none')">
					<span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>Show Data</button></p>
        </div>
      </div>	
	
<div id="statsWorkspace" class="analyseData">
	<button type="button" class="btn btn-primary btn-sm" style="margin-left:5px;margin-top:5px;" onclick="showAnalyseDataOptions()">
	  <span class="glyphicon glyphicon-chevron-left"></span> back
	</button>
	<div id="statsContent">
	</div>
</div>
<div style="margin-top:10px;" align="center">
	Information source : <a target="_blank" href="http://www.iucnredlist.org/">IUCN Red List</a> 
		<a href="http://ecos.fws.gov">Environmental Conservation Online System</a>
</div>
	



</body>
</html>
