<html>
	<head>
		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
		<% include head %>
		<script>
			initCharts();
		</script>
	</head>
<body onload="initCharts()">
	<% include navigationBar %>
	<br/>
	
<div align="center" id="selectCategoryDiv">
	<div class="panel panel-default" style="width:50%">	
		<div class="panel-heading"><h4><b>Animal Demographics</b></h4></div>
		<div class="list-group" style="width:100%" align="left">
		  <a href="#" class="list-group-item" >
		    <h4 class="list-group-item-heading">Kingdom Animalia</h4>
		    <p class="list-group-item-text">Shows information about animal kingdom (mammals, birds, reptiles etc) population with respect to country.</p>
		    <p class="list-group-item-text">
		    	<div style="margin-top:10px;">
			    	<button type="button" class="btn btn-primary btn-sm" onclick="selectAnalysisCategory('country','country')">
			    		<span class="glyphicon glyphicon-map-marker" style="margin-right:5px;"></span>Individual Country</button>
			    	<button type="button" class="btn btn-primary btn-sm" onclick="selectAnalysisCategory('country','world')">
			    		<span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>World Wide</button>
			    </div>
		    </p>
		  </a>
		  <a href="#" class="list-group-item" >
		    <h4 class="list-group-item-heading">Conservation Status</h4>
		    <p class="list-group-item-text">Shows information about conservation status(extinct, critically endangered etc) with respect to country.</p>
		    <p class="list-group-item-text">
		    	<div style="margin-top:10px;">
			    	<button type="button" class="btn btn-primary btn-sm" onclick="selectAnalysisCategory('conservationStatus','country')">
			    		<span class="glyphicon glyphicon-map-marker" style="margin-right:5px;"></span>Individual Country</button>
			    	<button type="button" class="btn btn-primary btn-sm" onclick="selectAnalysisCategory('conservationStatus','world')">
			    		<span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>World Wide</button>
		    	</div>
		    </p>
		  </a>
		  <a href="#" class="list-group-item" onclick="selectAnalysisCategory('time','none')">
		    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>Time Series Data</h4>
		    <p class="list-group-item-text" style="padding-bottom:15px;">Data collected over the time period for kingdom Animalia classes (mammals, birds, reptiles etc.)</p>
		  </a>
		</div>
	</div>
</div>

<div id="statsWorkspace" class="analyseData">
	<button type="button" class="btn btn-primary btn-sm" style="margin-left:2px;margin-top:2px;" onclick="showAnalyseDataOptions()">
	  <span class="glyphicon glyphicon-chevron-left"></span> back
	</button>
	<div id="statsContent">
	</div>
</div>
<div style="" align="center">
	Information source : <a target="_blank" href="http://www.iucnredlist.org/">IUCN Red List</a> 
		<a href="http://ecos.fws.gov">Environmental Conservation Online System</a>
</div>

</body>
</html>