<html>
	<head>
		<% include head %>
	</head>
	<body>
		<% include navigationBar %>
		<br/><br/><br/>
			<div class="box">				
				<object data=http://54.187.56.188:3022/ width="780" height="400"> <embed src=http://54.187.56.188:3022/ width="600" height="400"> </embed> Error: Embedded data could not be displayed. </object>
			</div>
    </body>
</html>
