

<div>
	<div id="animalTypeOptionDiv" align="center" style="width:100%">
		<input type="checkbox" value="Mammals" name="animalTypeTime" onchange="updateTimeChart(this)" /> 
			<label style="vertical-align:top"> Mammal</label>
		<input type="checkbox" value="Birds" name="animalTypeTime" onchange="updateTimeChart(this)"/> 
			<label style="vertical-align:top"> Bird</label>
		<input type="checkbox" value="Fishes" name="animalTypeTime" onchange="updateTimeChart(this)"/> 
			<label style="vertical-align:top"> Fishes</label>
		<input type="checkbox" value="Reptiles" name="animalTypeTime" onchange="updateTimeChart(this)"/> 
			<label style="vertical-align:top"> Reptiles</label>
		<input type="checkbox" value="Amphibians" name="animalTypeTime" onchange="updateTimeChart(this)"/> 
			<label style="vertical-align:top"> Amphibian</label>
	</div>
	<div id="container" style="border:1px solid #EEEEEE; width:100%;height:78%; margin-top:5px;" align="center">
		<div id="purpose" class="label label-default" style="font-size:15px;z-index:99;">
			Number of threatened species by major groups of animals (1996 - 2013)
		</div>
		<div id="charts" style="width:100%;height:100%;margin-top:5px;">
			<div class="blankMessage" style="font-size: 32px;">
				Please select an animal group(s).
			</div>
		</div>
	</div>
</div>
