.animalProfileLabel {
	position: absolute;
	background-color: #333333;
	color: #EEEEEE;
	padding: 0px 15px 15px 15px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px
}

.chartLabel{
	z-index:99;	
	font-weight:bold;
	position: absolute;
	background-color: #333333;
	color: #EEEEEE;
	padding: 10px 15px 10px 15px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px
}


.animalProfileHeader {
	font-weight: bold;
	color: color;
}

.animalProfileSubHeader {
	
}

.analyseData {
	display: none;
	width: 100%;
	height: 95%;
	background-color: #FFFFFF;
}

.optionDiv {
	margin-top:5px;
	width: 50%;
	border: 0px solid #EEEEEE;
	padding: 5px;
}

.inset-text {
          font-size: 32px;
          color: #333333;
          text-shadow: 1px 1px 0px #EEEEEE;
          font-weight: bold;
     }
     
 .blankMessage{
 	font-size: 25px;
 	padding-top:50px;
 }